/* CSS DIV PRINCIPAL */

.principal {

    direction: "row";
    justify-content: "center";
    align-items: center;
    background-color: #dcdde1;
}

.centralizar{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CSS DIV PRIMARIO */





/* CSS DIV SECUNDARIO  */

.div2principal{

    background-color: rgb(187, 227, 227);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
}

.div2textos{

    background-color: rgb(2, 99, 99);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;

}



/* CSS DIV EQUIPE DE DEVS */

.teste{
    background-color: rgb(2, 99, 99);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    margin: 15px;
    

}

.teste2{
    background-color: brown;
    text-align: center;
    margin: 15px;

}

.teste3{
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
}


/* DIV CONTATO */

.contato{
    background-color: blue;
    text-align: center;

}


