.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
  
}

.back{
    background-color: blue !important;
}

.icon{
    background-position: right !important;
}