/* é o maior grid por tras do grid de login */
.gridMaiorLogin {

  min-height: 100vh;
  display: flex;
}

.imagemGraph {
  margin-bottom: 80px;
  margin-top: 80px;
  width: 300px;
  border:rgba(255, 255, 255, 0) solid 5px; 
}

/* AÇÃO NA LOGO QUANDO PASSA O MOUSE */
.imagemGraph:hover {
  width: 305px;
  height: 142.5px;
}

.gridInputs {
  background-color: var(--light-grey);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.gridImagem {
  justify-content: center;
  background-color: #252525;

  background-image: url(https://i.imgur.com/XeYi1SS.gif);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}



.CaixaInput {
  background-color: #fff;
  border-radius: 5px;
}

.botaoLogar {
  width: 233px;
  height: 38px;
  margin-top: 30px !important;
  background-color: #7dbd9a !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  color: #fff !important;
}

.botaoCadastro {
  width: 427px;
  height: 38px;
  margin-top: 5px !important;
  background-color: #576574 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 13px !important;
}

.text-decorator-none {
  text-decoration: none;
}

.textoCadastro {
  color: #dd3052;
}