/* é o maior grid por tras do grid de login */
.gridMaiorLogin {
  background-image: url('https://i.imgur.com/fhxWLFt.png');
  min-height: 100vh;

}

.imagemGraph {
  margin-bottom: 80px;
  margin-top: 80px;
}

.gridInputs {
  background-color: #CE7150;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.gridImagem {
  background-color: #fff;
  display: flex;
  align-items: stretch;
}

.CaixaInput {
  background-color: #fff;
  border-radius: 5px;
}

.botaoLogar {
  width: 233px;
  height: 38px;
  margin-top: 30px !important;
  background-color: #E58E26 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
}

.botaoCadastro {
  width: 427px;
  height: 38px;
  margin-top: 5px !important;
  background-color: #576574 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 13px !important;
}

.text-decorator-none {
  text-decoration: none;
}

.textoCadastro {
  color: #fff;
}