/* importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* é o maior grid por tras do grid de login */
.gridMaiorLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.imgur.com/fhxWLFt.png');
  height: calc(100vh - 108px - 108px);
}

/* é o grid da caixa de login */
.grid1Login {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* estilizando textos */
.textoLogin {
  color: #000;
  text-align: center;
  font-family: 'Amatic SC', cursive !important;
  font-size: 40px !important;
}

.textoSemConta {
  color: #000;
  text-align: center;
  font-family: 'Amatic SC', cursive !important;
  font-size: 30px !important;
}

.textoCadastro {
  color: #000;
  text-align: center;
  font-family: 'Amatic SC', cursive !important;
  font-size: 25px !important;
  font-weight: bold;
}

/* estilizando caixa de texto do usuario */
.BoxForm {
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #f3f354;
  padding: 25px;

}

/* tirar sublinhado do botao logar */
.text-decorator-nome {
  text-decoration: none;
}

.botaoLogar {
  background-color: #f3f354 !important;
  font-family: 'Amatic SC', cursive !important;
  color: #000 !important;
}