
.container-principal{
    justify-content: center;
    align-items: center;
   background-color: blue;
}
.grid-footer{
    display: flex;
    justify-content:space-evenly;
}

   
   .redes{
       font-size: 60px !important;
       color:white;
   }
   
   .textos{
        color: white !important;
        text-decoration: none; 
   }

   .list-decorator-none{
        list-style: none;
        padding-right:150px;
        margin-left: -40px;
}
  