.GridBackground {
  min-height: 100vh;
  background-color: var(--light-grey);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.containerStyleTema {
  margin-top: 20px;
  height: calc(100vh - 125px - 55px);
}

.formCadastroTema {
  background: #e9ecef !important;
  border-radius: 10px !important;
  border: 2px solid #596275 !important;
  padding: 25px !important;
  width: 500px !important;
}



.buttonCadastroTema {
  background: #181717 !important;
  color: #ffffff !important;
}